* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.countingMain {
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #111;
	padding: 1em;
	text-align: center;
}

.countDisplay {
	font-size: 100px;
	padding: 1em;
	margin: 0;
}

.countingButton {
	height: 28px;
	margin-inline: 0.5em;
	padding: 3px 7px;
	color: #111;
	border: 1px solid #111;
	border-radius: 10px;
}

.increment {
	background-color: #3aa91b;
}

.decrement {
	background-color: #e11313;
}

.countingButton:hover {
	border: 1px solid #ddd;
	color: #ddd;
}
